results/
!/src/fem/application/results/
!/src/fem/application/results/**
!/tests/application/results/
!/tests/application/results/**
agent-workspace/
/fem-agent.config.json
/tests/fem-agent.test.config.json
temp/
__pycache__/
.pytest_cache/
*.egg-info/
.vscode/
.env
ex.py
*.txt
!/tests/fixtures/**
data/
scripts/
docs/
